<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.aio_android">
    <!-- Service내에서 Foreground service를 사용하기 위해 추가한 permission -->
    <uses-permission
            android:name="android.permission.FOREGROUND_SERVICE"/> <!-- Content Provider 예제에서 Content Resolver를 이용해 이미지를 얻기위해서는 permission이 필요함 -->
    <uses-permission
            android:name="android.permission.READ_CONTACTS"/> <!-- ContentResolverWithAlbum 예제 : 이미지 파일은 보통 SD카드에 저장되고 그걸불러오려면 허가를 내줘야함 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission
            android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> <!-- ContentResolverWithPhoneBook 예제 :  전화번호 기록 가져올떄 추가해야하는 부분 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/> <!-- Broadcast_SMS_Activity 예제 : SMS 받는 부분 -->
<!--    <uses-permission android:name="android.permission.RECEIVE_SMS"/>-->
<!--    <uses-permission android:name="android.permission.SEND_SMS"/> &lt;!&ndash; 네트워크 통신을 위한 permission &ndash;&gt;-->
    <uses-permission android:name="android.permission.INTERNET"/> <!-- 인터넷 연결상태 체크 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/aio_android"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.AIO_Android">
        <activity
                android:name="com.aio.aio_android.CustomDialog"
                android:exported="true" tools:ignore="Instantiatable"/>
        <activity
                android:name="AndroidBasic.AndroidFourComponents.BottomNavigationFragmentView.BottomNavigationFragmentActivity"
                android:exported="true"/>
        <activity
                android:name="AndroidBasic.RecyclerAndListView.RecyclerAndListActivity"
                android:exported="true"/>
        <activity
                android:name="AndroidBasic.JsonData.JsonData_Activity"
                android:exported="true"/>
        <activity
                android:name="AndroidBasic.Network.Retrofit2.Retrofit2_Activity"
                android:exported="true"/>
        <activity
                android:name="AndroidBasic.Network.Okhttp3.Okhttp3_Activity"
                android:exported="true"/>
        <activity
                android:name="AndroidBasic.Network.Network_List"
                android:exported="true"/>
        <activity
                android:name="AndroidBasic.Network.HTTPURLConnections.HttpURLConnections"
                android:exported="true"/>
        <activity
                android:name="AndroidBasic.DataBase.RoomDataBase.RoomDBActivity"
                android:exported="true"/>
        <activity
                android:name="AndroidBasic.DataBase.SQLiteDataBase.SQLiteActivity"
                android:exported="true"/>
        <activity
                android:name="AndroidBasic.DataBase.DataBase_List"
                android:exported="true"/>
        <activity
                android:name="AndroidBasic.DiverseLayout.DiverseLayoutActivity"
                android:exported="true"/>
        <activity
                android:name="AndroidBasic.Handler.HandlerActivity"
                android:exported="true"/>
        <activity
                android:name="AndroidBasic.IntentAndBundle.IntentResultActivity"
                android:exported="true"/>
        <activity
                android:name="AndroidBasic.IntentAndBundle.IntentAndBundleActivity"
                android:exported="true"/>
        <activity
                android:name="AndroidBasic.AndroidLifeCycle.LifeCycleActivity"
                android:exported="true"
                android:label="@string/title_activity_life_cycle"/>
        <activity
                android:name="AndroidBasic.AndroidFourComponents.BroadcastReceiver.BroadcastActivity"
                android:exported="true"/>
        <activity
                android:name="AndroidBasic.AndroidFourComponents.BroadcastReceiver.Broadcast_SMS_Activity"
                android:exported="true"/>
        <activity
                android:name="AndroidBasic.AndroidFourComponents.ContentResolverWithPhonebook.ContentResolverWIthPhoneBook"
                android:exported="true"/>
        <activity
                android:name="AndroidBasic.AndroidFourComponents.ContentResolverWithAlbum.ContentResolverWithAlbum"
                android:exported="true"/>
        <activity
                android:name="AndroidBasic.AndroidFourComponents.ContentProvider.ContentProviderActivity"
                android:exported="true"/>
        <activity
                android:name="AndroidBasic.JetPack.Jetpack_List"
                android:exported="true"/>
        <activity
                android:name="AndroidBasic.AndroidFourComponents.Service.ServiceActivity"
                android:exported="true"/>

        <activity
                android:name="AndroidBasic.AndroidFourComponents.ActivityAndFragment.Activity_And_Fragment"
                android:exported="true"/>
        <activity
                android:name="AndroidBasic.AndroidFourComponents.Four_Components_List"
                android:exported="true"/>
        <activity
                android:name="AndroidExampleList.Android_Example_List"
                android:exported="true"/>
        <activity
                android:name="AndroidBasic.JetPack.DataAndViewBinding"
                android:exported="true"/>
        <activity
                android:name="AndroidBasic.AndroidDesign.MVVM_easy_example"
                android:exported="true"/>
        <activity
                android:name="AndroidBasic.AndroidDesign.MVP_easy_example"
                android:exported="true"/>
        <activity
                android:name="AndroidBasic.AndroidDesign.MVC_easy_example"
                android:exported="true"/>
        <activity
                android:name="com.aio.aio_android.MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
                android:name="AndroidBasic.AndroidFourComponents.Service.ServiceA"
                android:enabled="true"
                android:exported="true">
        </service>

        <!-- foreground service 예제에서 Dismiss button 쓰려고 추가한 부분 -->

        <receiver
                android:name="AndroidBasic.AndroidFourComponents.Service.AutoDismissReceiver"
                android:enabled="true"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver> <!-- Broadcast Receiver + Sms 예제를 위한 부분 -->
        <receiver
                android:name="AndroidBasic.AndroidFourComponents.BroadcastReceiver.SmsReceiver"
                android:enabled="true"
                android:exported="true">

            <!-- <intent-filter> -->
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver> <!-- Content provider를 위한 부분 -->
        <provider
                android:name="AndroidBasic.AndroidFourComponents.ContentProvider.MyContentProvider"
                android:authorities="com.demo.user.provider"
                android:enabled="true"
                android:exported="true"/>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>


    </application>

</manifest>