<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.aio_android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.AIO_Android">
        <activity
                android:name="AndroidBasic.AndroidFourComponents.Service.ServiceActivity"
                android:exported="true"/>

        <service
                android:name="AndroidBasic.AndroidFourComponents.Service.ServiceA"
                android:enabled="true"
                android:exported="true">
        </service>

        <activity
                android:name="AndroidBasic.AndroidFourComponents.ActivityAndFragment.Activity_And_Fragment"
                android:exported="true"/>
        <activity
                android:name="AndroidBasic.AndroidFourComponents.Android_Four_Components_List"
                android:exported="true"/>
        <activity
                android:name="AndroidExampleList.Android_Example_List"
                android:exported="true"/>
        <activity
                android:name="AndroidBasic.JetPack.DataBinding_Example"
                android:exported="true"/>
        <activity
                android:name="AndroidBasic.AndroidDesign.MVVM_easy_example"
                android:exported="true"/>
        <activity
                android:name="AndroidBasic.AndroidDesign.MVP_easy_example"
                android:exported="true"/>
        <activity
                android:name="AndroidBasic.AndroidDesign.MVC_easy_example"
                android:exported="true"/>
        <activity
                android:name=".MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver
                android:name="AndroidBasic.AndroidFourComponents.Service.AutoDismissReceiver"
                android:enabled="true"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>



    </application>

</manifest>